* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Nova Cut', cursive;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Nova slim';
}

h5 {
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    max-width: 110px;
    font-size: 20px;
    border: solid 4px #b98a5f;
    font-family: 'Nova slim';
}

.container {
    max-width: 100%;
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-main button {
    display: block;
    padding: 10px 15px;
    margin-right: 15px;
    font-size: 2.2rem;
    background: var(--primary);
    border-radius: 18px;
    border: solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(60deg, #6e7bc4, #b98a5f);
}

.btn-main button:hover,
.btn-main button:active {
    color: blanchedalmond;
    background: #070707;
    transition: color 0.7s;
    transition: background 0.7s;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 150ms;
    transform: scale(1.03);
}

.sleeve {
    position: relative;
    width: 300px;
    height: 400px;
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    margin: 30px 80px 30px 80px;
}

.sleeve:hover img {
    opacity: 0;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all linear 0.6s;
}

img.card {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.sleeve:hover img.card:hover {
    opacity: 1;
}

#user-question {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 18px;
}

.question-box {
    display: flex;
    margin-left: 600px;
    margin-bottom: 15px;
    padding-left: 10px;
    max-width: 10%;
    border-radius: 10px;
    background: #40A4ED;
    color: white;
    font-size: 18px;
    min-width: 15%;
}

.question-box:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0 #407AED;
    transform: scale(1.2);
    transform: transform 100ms;
}

.choice-letter {
    padding: 5%;
    color: black;
}

.choice-text {
    text-align: start;
    padding: 5%;
    width: 100%;
}